/*@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900);*/
body {     
    font-weight: 300;    
    padding-top: 70px;
}


#app {
  width: 100%;
  background: #fff
}
#page-wrapper { 
  background: #edf1f5 ;
  /*min-height: 568px;*/
  min-height: 100%;
  padding: 0 0 60px;
}
@media (min-width: 768px) {
  #page-wrapper {
    position: inherit;
    margin: -16px 0 0 250px;
    padding: 0 30px;
    border-left: 1px solid #e7e7e7;
  }
}

.sidebar {
  background: #fff;
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
}

.sidebar .sidebar-nav.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}

.sidebar ul li {
  border-bottom: 1px solid #e7e7e7;
}
.sidebar ul li a.active {
  background-color: #eeeeee;
}

@media (min-width: 768px) {
  .sidebar {
    z-index: 1;
    left: 0px;
    position: absolute;
    width: 250px;
    margin-top: 51px;
  }
  .bg-title {
    margin-right: -44.5px;
  }
}
@media(max-width: 767px){
  .navbar-nav {
    margin: 6px 0px;
  }  

  #topbar > li > a {    
    background: #f5f8fa;
    color: #54667a;
    float: right;
    margin-left: 5px;    
  }
}
.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent
}

.sidebar .fa-fw {
    display: inline-block;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    margin-right: 7px;
    text-align: center;
    vertical-align: middle;
    width: 20px;
}

#side-menu>li:first-child {
  padding: 10px 0 0;
}
/*** Side menu ***/
#side-menu li a {
  color: #54667a;
}
#side-menu li a {
  color: #54667a;
  border-left: 0px solid #fff;
}
#side-menu > li > a {
  border-left: 3px solid transperant;
}
#side-menu > li > a:hover,
#side-menu > li > a:focus {
  background: rgba(0, 0, 0, 0.07);
}
#side-menu > li > a.active {
  background: transperant;
  color: #54667a;
  border-left: 3px solid #41b3f9;
  font-weight: 500;
}
#side-menu ul > li > a:hover {
  color: #41b3f9;
}
#side-menu ul > li > a.active {
  color: #54667a;
  font-weight: 700;
}
/***/


/*#side-menu li.active>a {
    background: rgba(0, 0, 0, 0)
}

#side-menu li a {
    color: #97999f;
    width: 240px
}

#side-menu li a:focus {
    background: rgba(0, 0, 0, 0)
}*/

#side-menu li.devider {
    margin: 7px 0;
    border-top: 1px solid rgba(120, 130, 140, .13)
}


.bg-title {
    background: #fff;
    /*overflow: hidden;*/
    padding: 15px 10px 9px;
    margin-bottom: 25px;
    margin-left: -45.5px;
    /*margin-right: -44.5px*/
}
.bg-title h4 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    margin-top: 6px;
}
.breadcrumb .active {
  background: none;
}
.bg-title .breadcrumb {
    background: 0 0;
    margin-bottom: 0;
    float: right;
    padding: 0;
    margin-top: 0px;
}
.navbar-fixed-top .navbar-collapse {
  max-height: 100%;
}

/*
.bg-title .breadcrumb a {
    color: rgba(0, 0, 0, .5)
}

.bg-title .breadcrumb a:hover {
    color: #000
}
*/
/*.bg-title .breadcrumb .active {
    color: #2cabe3
}*/

/*#side-menu>li>a {
    padding: 15px 35px 15px 20px;
    display: block
}*/

/*#side-menu ul>li>a.active {
    color: #2cabe3
}*/