//@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900);


//color varibles
$purssian-blue: #08364b;
$alice-blue: #edf1f5; // page-wrapper
$page-wrapper-b-l: #e7e7e7;


body {        
    font-weight: 300;    
    padding-top: 70px;
}

#app {
  width: 100%;  
  background: #08364b;
  
}
.navbar-fixed-top .navbar-collapse {
  max-height: 100%;
}
#page-wrapper { 
  background: #edf1f5 ;
  // min-height: 568px;
  min-height: 800px;
  /*min-height: 100%;*/
  padding: 0 0 60px;
}

@media (min-width: 768px) {
  #page-wrapper {
    position: inherit;
    margin: -16px 0 0 225px;
    padding: 0 30px;
    border-left: 1px solid #e7e7e7;
  }
  .sidebar {
    z-index: 1;
    left: 0;
    position: absolute;
    width: 225px;  /* set left margin of #page-wraper same size */
    margin-top: 50px;    
  }
  .bg-title {
    margin-right: -44.5px;
  }
  .navbar-nav {    
    margin: 0;
  }
} 

@media(max-width: 767px){
  .navbar-nav {
    margin: 6px 0px;
  }  

  #topbar > li > a {    
    background: #f5f8fa;
    color: #54667a;
    float: right;
    margin-left: 5px;    
  }
  .navbar-fixed-top .navbar-collapse {
    max-height: 150px;
  } 
  .skin-blue .navbar-default {
    padding-bottom: 15px;     
  }
  #page-wrapper {
    margin-top: 10px;
  }
  #page-wrapper.add-top-margin {
    margin-top: 165px; //15+150+5
  }
}


.skin-blue .navbar-default {
    /*background-color: #fff;*/
    background-color: #3c8dbc;    
    /*border-color: #d3e0e9;*/
    /*color:#fff;*/
    .navbar-brand {
      color: #fff;
      font-weight: 500;
    }
    .navbar-toggle {
      border-color: #3c8dbc;
      .icon-bar {
        background-color: #fff; 
      }
      &:hover, &:focus {
       background-color: #357ca5;;
      }
    }
    .navbar-nav > li > a {
      color: #fff;
      &:hover, &:focus {
       color: rgba(253, 245, 154, 0.85);;
       /*background-color: #3097d1;*/
       background: #08364b;   
      }
    }
}

.sidebar {
  /*background: #fff;*/
  background: #08364b;
  /*box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);*/
  .fa-fw {
    display: inline-block;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    margin-right: 7px;
    text-align: center;
    // vertical-align: middle;
    width: 20px;
  }
  .sidebar-nav.navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }

}

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent
}


%anchor {
      color: rgba(184, 199, 206, 0.88);
      border-left: 5px solid transparent;
      &:hover, &:focus {
        /*background: rgba(0, 0, 0, 0.07);*/
        background: rgba(0, 136, 204, 0.72);
        color: #fff;
      }
      // &.active {
      //  /* background: transperant;*/
      //   /*color: #54667a;*/
      //   color: #333;
      //   border-left: 5px solid #41b3f9;
      //   /*background-color: #d3e0e9;*/
      //   background-color: rgba(253, 245, 154, 0.85);
      //   font-weight: 600;
      // }
}
%anchor-active {       
        color: #333;
        border-left: 5px solid #41b3f9;
        /*background-color: #d3e0e9;*/
        background-color: rgba(253, 245, 154, 0.85);
        font-weight: 600;
      }

#side-menu > li {
  border-bottom: 1px dashed;
  &:first-child {
    padding: 10px 0 0;
  }    
  &.devider {
    margin: 7px 0;
    border-top: 1px solid rgba(120, 130, 140, .13)
  }
  // #side-menu > li > a
  > a {    
      @extend %anchor;
      &.active {
        @extend %anchor-active;
      }
  } 
// #side-menu > li > h2
  > h2 {
    @extend %anchor;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    // padding: 0.75rem 0.75rem 0.75rem 0;
    padding: 10px 15px;
    transition: color 0.1s linear 0s;
    &.is-active {
       /* background: transperant;*/
        /*color: #54667a;*/
        color: #333;
        border-left: 5px solid #41b3f9;
        background-color: #d3e0e9;
        // background-color: rgba(253, 245, 154, 0.85);
        font-weight: 600;
      }
  }
  // #side-menu > li > h2::after
  > h2::after {
    border-color: transparent transparent transparent #dee0df;
    border-style: solid;
    border-width: 5px;
    content: "";
    height: 0;
    position: absolute;
    right: 3px; 
    top: 1.15rem;
    width: 0;
  }
  // > h2.active::after {
  //   transform: rotate(90deg);
  //   margin-right: 3px;
  //   // background: rgba(255, 255, 255, 0.03);     
  //   //background: none;
  //   color: #41b3f9;
  //   border-left: 5px solid #41b3f9;
  //   //@extend a.active;
  // }

  > h2.is-active::after {
    transform: rotate(90deg);
    margin-right: 3px;
    // background: rgba(255, 255, 255, 0.03);     
    //background: none;
    color: #41b3f9;
    border-left: 5px solid #41b3f9;
    //@extend a.active;
  }
// #side-menu > li > ul > li
  > ul > li {
    list-style-type: none;
    margin-left: -15px;
    padding: 2px 0;
    > a {
      @extend %anchor;
      padding-left: 5px;
      padding-right: 15px;
      text-decoration: none;
      &.active {
        @extend %anchor-active;
      }
    }
  }

}

.bg-title {
    background: #fff;
    /*overflow: hidden;*/
    padding: 15px 10px 9px;
    margin-bottom: 25px;
    margin-left: -45.5px;
    /*margin-right: -44.5px*/
    h4 {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 500;
      margin-top: 6px;
      margin-left: 20px;
    }

    .breadcrumb {
      background: 0 0;
      margin-bottom: 0;
      float: right;
      padding: 0;
      margin-top: 0px;
      
      .active {
        background: none;
      }
    }
}
